<?xml version="1.0"?>
<config>
  <modules>
    <GaussDev_ProductRanking>
      <version>0.1.0</version>
    </GaussDev_ProductRanking>
  </modules>
  <frontend>
    <routers>
      <productranking>
        <use>standard</use>
          <args>
            <module>GaussDev_ProductRanking</module>
            <frontName>productranking</frontName>
          </args>
      </productranking>
    </routers>
		<layout>
		  <updates>
			<productranking>
			  <file>productranking.xml</file>
			</productranking>
		  </updates>
		</layout>
  </frontend>
  <global>
    <models>
	  <GaussDev_ProductRanking>
	  	<class>GaussDev_ProductRanking_Model</class>
	  </GaussDev_ProductRanking>
	</models> 
    <helpers>
      <productranking>
        <class>GaussDev_ProductRanking_Helper</class>
      </productranking>
    </helpers>
    <blocks>
    	<adminhtml>
        	<rewrite>
            	<catalog_product_grid>GaussDev_ProductRanking_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
            </rewrite>
		</adminhtml>
	</blocks>
  </global>
   <crontab>
        <jobs>            
            <cronexample_crontest>
                <schedule><cron_expr>0 */1 * * *</cron_expr></schedule>
                <run><model>productranking/standard::cron</model></run>
            </cronexample_crontest>
        </jobs>
    </crontab>
</config> 