<?xml version="1.0"?>
<config>
    <modules>
        <GaussDev_Parser>
            <version>0.3.1</version>
        </GaussDev_Parser>
    </modules>
    <frontend>
        <routers>
            <customer_products>
                <use>standard</use>
                <args>
                    <module>GaussDev_Parser</module>
                    <frontName>customer_products</frontName>
                </args>
            </customer_products>
        </routers>
        <layout>
            <updates>
                <customer_products_products_parse>
                    <file>parser.xml</file>
                </customer_products_products_parse>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <customer_product_create>
                <observers>
                    <mail_customer_product_create>
                        <type>singleton</type>
                        <class>gaussdev_parser/observer</class>
                        <method>createdProduct</method>
                    </mail_customer_product_create>
                </observers>
            </customer_product_create>
        </events>
        <template>
            <email>
                <customer_product_create_tpl>
                    <label>Customer Product Created</label>
                    <file>gaussdev_customerproductcreate.html</file>
                    <type>html</type>
                </customer_product_create_tpl>
            </email>
        </template>
        <models>
            <gaussdev_parser>
                <class>GaussDev_Parser_Model</class>
                <resourceModel>gaussdev_parser_resource</resourceModel>
            </gaussdev_parser>
            <gaussdev_parser_resource>
                <class>GaussDev_Parser_Model_Resource</class>
                <entities>
                    <host>
                        <table>gaussdev_parser_host</table>
                    </host>
                </entities>
            </gaussdev_parser_resource>
        </models>
        <blocks>
            <gaussdev_parser>
                <class>GaussDev_Parser_Block</class>
            </gaussdev_parser>
        </blocks>
        <helpers>
            <gaussdev_parser>
                <class>GaussDev_Parser_Helper</class>
            </gaussdev_parser>
        </helpers>
        <resources>
            <gaussdev_parser_setup>
                <setup>
                    <module>GaussDev_Parser</module>
                </setup>
            </gaussdev_parser_setup>
        </resources>
    </global>
    <default>
        <customer_products>
            <email_notifications>
                <emails/>
                <emails_enabled>0</emails_enabled>
            </email_notifications>
        </customer_products>
    </default>
    <crontab>
        <jobs>
            <deleteOldTemporaryFiles>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gaussdev_parser/observer::deleteOldTemporaryFiles</model>
                </run>
            </deleteOldTemporaryFiles>
            <hashExistingProductsOriginPages>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gaussdev_parser/observer::hashExistingProductsOriginPages</model>
                </run>
            </hashExistingProductsOriginPages>
        </jobs>
    </crontab>
</config>