<?xml version="1.0"?>
<config>
  <modules>
    <GaussDev_Multilist>
      <version>0.1.2</version>
    </GaussDev_Multilist>
  </modules>
  <frontend>
    <routers>
      <multilist>
        <use>standard</use>
          <args>
            <module>GaussDev_Multilist</module>
            <frontName>multilist</frontName>
          </args>
      </multilist>
    </routers>
		<layout>
		  <updates>
			<multilist>
			  <file>multilist.xml</file>
			</multilist>
		  </updates>
		</layout>
  </frontend>
  <global>
    <models>
      <multilist>
		<class>GaussDev_Multilist_Model</class>
	  </multilist>
	  <GaussDev_Multilist>
	  	<class>GaussDev_Multilist_Model</class>
	  </GaussDev_Multilist>
	</models>
    <helpers>
      <GaussDev_Multilist>
        <class>GaussDev_Multilist_Helper</class>
      </GaussDev_Multilist>
    </helpers>
	<blocks>
	  <multilist>
		<class>GaussDev_Multilist_Block</class>
	  </multilist>
	</blocks>
	<events>
	  <checkout_cart_add_product_complete>
        <observers>
          <checkout_cart_add_product_complete_handler>
            <type>singleton</type>
            <class>multilist/observer</class>
            <method>add2session</method>
          </checkout_cart_add_product_complete_handler>
        </observers>
      </checkout_cart_add_product_complete>
    </events>
	<resources>
	  <multilist_setup>
		<setup>
		  <module>GaussDev_Multilist</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </multilist_setup>
	  <multilist_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </multilist_write>
	  <multilist_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </multilist_read>
	</resources>
  </global>
</config>