<?xml version="1.0"?>
<config>
    <modules>
        <Under_ContactLayout>
            <version>0.1.0</version>
        </Under_ContactLayout>
    </modules>
    <global>
        <page>
            <layouts>
                <Under_ContactLayout translate="label">
                    <label>Contact page</label>
                    <template>page/Under-Contact.phtml</template>
                    <layout_handle>page_Under_ContactLayout</layout_handle>
                </Under_ContactLayout>
                <!-- add more layouts here -->
            </layouts>
        </page>
    </global>
</config>