<?xml version="1.0"?>
<config>
    <modules>
        <GaussDev_Notifications>
            <version>1.1.0</version>
        </GaussDev_Notifications>
    </modules>
    <frontend>
        <routers>
            <notifications>
                <use>standard</use>
                <args>
                    <module>GaussDev_Notifications</module>
                    <frontName>notifications</frontName>
                </args>
            </notifications>
        </routers>
    </frontend>
    <global>
        <helpers>
            <notifications>
                <class>GaussDev_Notifications_Helper</class>
            </notifications>
        </helpers>
        <models>
            <notifications>
                <class>GaussDev_Notifications_Model</class>
                <resourceModel>gaussdev_notifications_resource</resourceModel>
            </notifications>
            <gaussdev_notifications_resource>
                <class>GaussDev_Notifications_Model_Resource</class>
                <entities>
                    <notification>
                        <table>gaussdev_notification</table>
                    </notification>
                    <device>
                        <table>gaussdev_push_device</table>
                    </device>
                </entities>
            </gaussdev_notifications_resource>
        </models>
        <resources>
            <gaussdev_notifications_setup>
                <setup>
                    <module>GaussDev_Notifications</module>
                </setup>
            </gaussdev_notifications_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <item_purchased_notification>
                        <type>model</type>
                        <class>notifications/observer</class>
                        <method>itemPurchased</method>
                    </item_purchased_notification>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <crontab>
        <jobs>
            <gaussdev_notifications_sendpush>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>notifications/observer::sendPush</model>
                </run>
            </gaussdev_notifications_sendpush>
        </jobs>
    </crontab>
</config>