<?xml version="1.0"?>
<config>
    <modules>
        <GaussDev_ProductSwitch>
            <version>0.1.0</version>
        </GaussDev_ProductSwitch>
    </modules>
    <global>
        <models>
            <gaussdev_productswitch>
                <class>GaussDev_ProductSwitch_Model</class>
            </gaussdev_productswitch>
        </models>
        <blocks>
            <gaussdev_productswitch>
                <class>GaussDev_ProductSwitch_Block</class>
            </gaussdev_productswitch>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gaussdev_productswitch after="Mage_Adminhtml">GaussDev_ProductSwitch_Adminhtml</gaussdev_productswitch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <toconfig>
                    <file>productswitch.xml</file>
                </toconfig>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_edit>
                <observers>
                    <switch_type>
                        <type>model</type>
                        <class>GaussDev_ProductSwitch_Model_Observer</class>
                        <method>addSwitchButton</method>
                    </switch_type>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_edit>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <switch_type_massaction>
                        <type>model</type>
                        <class>GaussDev_ProductSwitch_Model_Observer</class>
                        <method>addMassAction</method>
                    </switch_type_massaction>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>