<?xml version="1.0"?>
<config>
    <modules>
        <GaussDev_SocialLogin>
            <version>0.1.4</version>
        </GaussDev_SocialLogin>
    </modules>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>GaussDev_SocialLogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
    </frontend>
    <global>
        <blocks>
            <gaussdev_sociallogin>
                <class>GaussDev_SocialLogin_Block</class>
            </gaussdev_sociallogin>
        </blocks>
        <helpers>
            <gaussdev_sociallogin>
                <class>GaussDev_SocialLogin_Helper</class>
            </gaussdev_sociallogin>
        </helpers>
        <models>
            <gaussdev_sociallogin>
                <class>GaussDev_SocialLogin_Model</class>
                <resourceModel>gaussdev_oauth_resource</resourceModel>
            </gaussdev_sociallogin>
            <gaussdev_oauth_resource>
                <class>GaussDev_SocialLogin_Model_Resource</class>
                <entities>
                    <oauth>
                        <table>gaussdev_oauth</table>
                    </oauth>
                </entities>
            </gaussdev_oauth_resource>
            <customer_resource>
                <rewrite>
                    <customer>GaussDev_SocialLogin_Model_Resource_Customer_Customer</customer>
                </rewrite>
            </customer_resource>
        </models>
        <resources>
            <gaussdev_sociallogin_setup>
                <setup>
                    <module>GaussDev_SocialLogin</module>
                </setup>
            </gaussdev_sociallogin_setup>
        </resources>
    </global>
    <default>
        <sociallogin>
            <facebook>
                <id/>
                <secret/>
            </facebook>
            <google>
                <id/>
                <secret/>
            </google>
            <twitter>
                <key/>
                <secret/>
            </twitter>
            <instagram>
                <id/>
                <secret/>
            </instagram>
        </sociallogin>
    </default>
</config>