<?xml version="1.0"?>
<config>
  <modules>
    <GaussDev_Follow>
      <version>0.1.0</version>
    </GaussDev_Follow>
  </modules>
  <frontend>
    <routers>
      <follow>
        <use>standard</use>
          <args>
            <module>GaussDev_Follow</module>
            <frontName>follow</frontName>
          </args>
      </follow>
    </routers>
		<layout>
		  <updates>
			<follow>
			  <file>follow.xml</file>
			</follow>
		  </updates>
		</layout>
  </frontend>
  <global>
  	<models>
    	<follow>
        	<class>GaussDev_Follow_Model</class> 
   	 	</follow>
	</models>
    <helpers>
      <GaussDev_Follow>
        <class>GaussDev_Follow_Helper</class>
      </GaussDev_Follow>
    </helpers>
	<blocks>
	  <follow>
		<class>GaussDev_Follow_Block</class>
	  </follow>
	</blocks>
	<resources>
	  <follow_setup>
		<setup>
		  <module>GaussDev_Follow</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </follow_setup>
	  <follow_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </follow_write>
	  <follow_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </follow_read>
	</resources>
  </global>
</config> 