<?xml version="1.0"?>
<config>
    <modules>
        <GaussDev_Comments>
            <version>0.3.0</version>
        </GaussDev_Comments>
    </modules>
    <frontend>
        <routers>
            <product_comments>
                <use>standard</use>
                <args>
                    <module>GaussDev_Comments</module>
                    <frontName>comments</frontName>
                </args>
            </product_comments>
        </routers>
        <layout>
            <updates>
                <gaussdev_comments>
                    <file>comments.xml</file>
                </gaussdev_comments>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <customer_delete_after>
                <observers>
                    <set_comment_deleted_after_customer_delete>
                        <type>model</type>
                        <class>gaussdev_comments/observer</class>
                        <method>setCommentDeletedAfterCustomerDelete</method>
                    </set_comment_deleted_after_customer_delete>
                </observers>
            </customer_delete_after>
        </events>
        <blocks>
            <gaussdev_comments>
                <class>GaussDev_Comments_Block</class>
            </gaussdev_comments>
        </blocks>
        <helpers>
            <gaussdev_comments>
                <class>GaussDev_Comments_Helper</class>
            </gaussdev_comments>
        </helpers>
        <models>
            <gaussdev_comments>
                <class>GaussDev_Comments_Model</class>
                <resourceModel>gaussdev_comments_resource</resourceModel>
            </gaussdev_comments>
            <gaussdev_comments_resource>
                <class>GaussDev_Comments_Model_Resource</class>
                <entities>
                    <comment>
                        <table>gaussdev_comments</table>
                    </comment>
                    <like>
                        <table>gaussdev_comments_likes</table>
                    </like>
                    <report>
                        <table>gaussdev_comments_reports</table>
                    </report>
                    <tags>
                        <table>gaussdev_comments_tags</table>
                    </tags>
                    <newtag>
                        <table>beagles_new_comment_tags</table>
                    </newtag>
                </entities>
            </gaussdev_comments_resource>
        </models>
        <resources>
            <gaussdev_comments_setup>
                <setup>
                    <module>GaussDev_Comments</module>
                </setup>
            </gaussdev_comments_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gaussdev_comments before="Mage_Adminhtml">GaussDev_Comments_Adminhtml</gaussdev_comments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gaussdev_comments>
                    <file>comments.xml</file>
                </gaussdev_comments>
            </updates>
        </layout>
    </adminhtml>
</config>