<?xml version="1.0"?>
<config>
  <modules>
    <GaussDev_Like>
      <version>0.1.0</version>
    </GaussDev_Like>
  </modules>
  <frontend>
    <routers>
      <like>
        <use>standard</use>
          <args>
            <module>GaussDev_Like</module>
            <frontName>like</frontName>
          </args>
      </like>
    </routers>
		<layout>
		  <updates>
			<like>
			  <file>like.xml</file>
			</like>
		  </updates>
		</layout>
  </frontend>
  <global>
  	<models>
    	<like>
			<class>GaussDev_Like_Model</class>
	  </like>
	  <GaussDev_Like>
	  	<class>GaussDev_Like_Model</class>
	  </GaussDev_Like>
	</models> 
    <helpers>
      <GaussDev_Like>
        <class>GaussDev_Like_Helper</class>
      </GaussDev_Like>
    </helpers>
	<blocks>
	  <like>
		<class>GaussDev_Like_Block</class>
	  </like>
	</blocks>
	<resources>
	  <like_setup>
		<setup>
		  <module>GaussDev_Like</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </like_setup>
	  <like_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </like_write>
	  <like_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </like_read>
	</resources>
  </global>
</config> 